{
  "swagger": "2.0",
  "info": {
    "title": "Speech to Text API v3.0",
    "version": "v3.0",
    "description": "Speech to Text API v3.0."
  },
  "host": "westus.api.cognitive.microsoft.com",
  "basePath": "/speechtotext/v3.0",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "https://westus.api.cognitive.microsoft.com"
    },
    {
      "url": "https://cognitive-wu.cognitiveservices.azure.com"
    },
    {
      "url": "https://api.ProjectOxford.ai"
    }
  ],
  "paths": {
    "/models/{id}/copyto": {
      "post": {
        "description": "This method can be used to copy a model from one location to another. If the target subscription\r\nkey belongs to a subscription created for another location, the model will be copied to that location.\r\nOnly adapted models are allowed to copy to another subscription.",
        "operationId": "CopyModelToSubscription",
        "summary": "Copy Model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. The identifier of the model that will be copied.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelCopy",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ModelCopy"
            },
            "description": "The body contains the subscription key of the target subscription."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Model"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n  \"baseModel\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n  },\r\n  \"datasets\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/cdc91c24-3972-496d-a12f-209c35f4cc6c\"\r\n    }\r\n  ],\r\n  \"links\": {\r\n    \"manifest\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/manifest/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n    \"copyTo\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037/copy\"\r\n  },\r\n  \"properties\": {\r\n    \"deprecationDates\": {\r\n      \"adaptationDateTime\": \"2022-11-04T00:00:00Z\",\r\n      \"transcriptionDateTime\": \"2023-05-04T00:00:00Z\"\r\n    }\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Running\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Language model\",\r\n  \"description\": \"This is a language model\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"The specified entity cannot be found.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/datasets": {
      "post": {
        "description": "Uploads and creates a new dataset by getting the data from a specified URL.",
        "operationId": "CreateDataset",
        "summary": "Create Dataset",
        "parameters": [
          {
            "name": "dataset",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "description": "Definition for the new dataset."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\",\r\n  \"kind\": \"Acoustic\",\r\n  \"contentUrl\": \"https://www.example.org/acousticdata/sourcelocation\",\r\n  \"links\": {\r\n    \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93/files\"\r\n  },\r\n  \"properties\": {\r\n    \"acceptedLineCount\": 11,\r\n    \"rejectedLineCount\": 2,\r\n    \"duration\": \"PT4M12S\"\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Acoustic dataset\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets a list of datasets for the authenticated subscription.",
        "operationId": "GetDatasets",
        "summary": "Get Datasets",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of datasets that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of datasets that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedDatasets"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\",\r\n      \"kind\": \"Acoustic\",\r\n      \"contentUrl\": \"https://www.example.org/acousticdata/sourcelocation\",\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93/files\"\r\n      },\r\n      \"properties\": {\r\n        \"acceptedLineCount\": 11,\r\n        \"rejectedLineCount\": 2,\r\n        \"duration\": \"PT4M12S\"\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Acoustic dataset\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/cdc91c24-3972-496d-a12f-209c35f4cc6c\",\r\n      \"kind\": \"Language\",\r\n      \"contentUrl\": \"https://www.example.org/LanguageData/SourceLocation\",\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/cdc91c24-3972-496d-a12f-209c35f4cc6c/files\"\r\n      },\r\n      \"properties\": {\r\n        \"acceptedLineCount\": 11,\r\n        \"rejectedLineCount\": 2\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Language dataset\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/d3910eba-c576-4886-afaa-886bb363822b\",\r\n      \"kind\": \"Pronunciation\",\r\n      \"contentUrl\": \"https://www.example.org/PronunciationData/SourceLocation\",\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/d3910eba-c576-4886-afaa-886bb363822b/files\"\r\n      },\r\n      \"properties\": {\r\n        \"acceptedLineCount\": 11,\r\n        \"rejectedLineCount\": 2,\r\n        \"duration\": \"PT10M\"\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Pronunciation dataset\",\r\n      \"customProperties\": {\r\n        \"CustomProperty\": \"value\"\r\n      }\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets?skip=3&top=3\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/datasets/upload": {
      "post": {
        "description": "Uploads data and creates a new dataset.",
        "operationId": "UploadDatasetFromForm",
        "summary": "Create Dataset from Form",
        "parameters": [
          {
            "name": "project",
            "in": "formData",
            "description": "The optional string representation of the url of a project. If set, the dataset will be associated with that project.",
            "type": "string"
          },
          {
            "name": "displayName",
            "in": "formData",
            "description": "The name of this data import (required).",
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "Optional description of this data import.",
            "type": "string"
          },
          {
            "name": "locale",
            "in": "formData",
            "description": "The locale of this data import (required).",
            "type": "string"
          },
          {
            "name": "kind",
            "in": "formData",
            "description": "The kind of the data import (required).",
            "type": "string",
            "enum": [
              "Language",
              "Acoustic",
              "Pronunciation",
              "AudioFiles"
            ]
          },
          {
            "name": "customProperties",
            "in": "formData",
            "description": "The optional custom properties of this entity. The maximum allowed key length is 64 characters, the maximum allowed value length is 256 characters and the count of allowed entries is 10.",
            "type": "string"
          },
          {
            "name": "data",
            "in": "formData",
            "description": "For acoustic data imports, a zip file containing the audio data and a text file containing the transcriptions for the audio data. for language data imports, a text file containing the language or pronunciation data. Required in both cases.",
            "type": "file"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "An optional string containing the email address to send email notifications to in case the operation completes. The value will be removed after successfully sending the email.",
            "type": "string"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Dataset"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\",\r\n  \"kind\": \"Acoustic\",\r\n  \"contentUrl\": \"https://www.example.org/acousticdata/sourcelocation\",\r\n  \"links\": {\r\n    \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93/files\"\r\n  },\r\n  \"properties\": {\r\n    \"acceptedLineCount\": 11,\r\n    \"rejectedLineCount\": 2,\r\n    \"duration\": \"PT4M12S\"\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Acoustic dataset\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "415": {
            "description": "In case the media type of a file part is not supported.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"UnsupportedMediaType\",\r\n  \"message\": \"The request entity's media type 'application/xml' is not supported for this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/endpoints": {
      "post": {
        "description": "Creates a new endpoint.",
        "operationId": "CreateEndpoint",
        "summary": "Create Endpoint",
        "parameters": [
          {
            "name": "endpoint",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            },
            "description": "The details of the endpoint."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Endpoint"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n  \"model\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n  },\r\n  \"links\": {\r\n    \"logs\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6/files/logs\",\r\n    \"restInteractive\": \"https://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n    \"restConversation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n    \"restDictation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n    \"webSocketInteractive\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n    \"webSocketConversation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n    \"webSocketDictation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\"\r\n  },\r\n  \"properties\": {\r\n    \"timeToLive\": \"PT30M\",\r\n    \"loggingEnabled\": true\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Speech endpoint\",\r\n  \"description\": \"Example for speech endpoint\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of endpoints for the authenticated subscription.",
        "operationId": "GetEndpoints",
        "summary": "Get Endpoints",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of endpoints that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of endpoints that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedEndpoints"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n      \"model\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"links\": {\r\n        \"logs\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6/files/logs\",\r\n        \"restInteractive\": \"https://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restConversation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restDictation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketInteractive\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketConversation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketDictation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\"\r\n      },\r\n      \"properties\": {\r\n        \"timeToLive\": \"PT30M\",\r\n        \"loggingEnabled\": true\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Speech endpoint\",\r\n      \"description\": \"Example for speech endpoint\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n      \"model\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"links\": {\r\n        \"logs\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6/files/logs\",\r\n        \"restInteractive\": \"https://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restConversation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restDictation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketInteractive\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketConversation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketDictation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\"\r\n      },\r\n      \"properties\": {\r\n        \"timeToLive\": \"PT30M\",\r\n        \"loggingEnabled\": true\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Speech endpoint\",\r\n      \"description\": \"Example for speech endpoint\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n      \"model\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"links\": {\r\n        \"logs\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/afa0669c-a01e-4693-ae3a-93baf40f26d6/files/logs\",\r\n        \"restInteractive\": \"https://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restConversation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"restDictation\": \"https://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketInteractive\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketConversation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\",\r\n        \"webSocketDictation\": \"wss://westus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1?cid=afa0669c-a01e-4693-ae3a-93baf40f26d6\"\r\n      },\r\n      \"properties\": {\r\n        \"timeToLive\": \"PT30M\",\r\n        \"loggingEnabled\": true\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Speech endpoint\",\r\n      \"description\": \"Example for speech endpoint\"\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints?skip=3&top=3\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/evaluations": {
      "post": {
        "description": "Creates a new evaluation.",
        "operationId": "CreateEvaluation",
        "summary": "Create Evaluation",
        "parameters": [
          {
            "name": "evaluation",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Evaluation"
            },
            "description": "The details of the new evaluation."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Evaluation"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/1c50ce42-6ab7-454f-8c39-54a752d1a5b6\",\r\n  \"model1\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n  },\r\n  \"model2\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n  },\r\n  \"dataset\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\"\r\n  },\r\n  \"transcription2\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/ad86d0c9-af6d-4d14-a621-c60d7d65b74f\"\r\n  },\r\n  \"transcription1\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\"\r\n  },\r\n  \"links\": {\r\n    \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/00000000-0000-0000-0000-000000000000/files\"\r\n  },\r\n  \"properties\": {\r\n    \"wordErrorRate2\": 0.065,\r\n    \"wordErrorRate1\": 0.065,\r\n    \"sentenceErrorRate2\": 0.375,\r\n    \"sentenceCount2\": 8,\r\n    \"wordCount2\": 46,\r\n    \"correctWordCount2\": 43,\r\n    \"wordSubstitutionCount2\": 3,\r\n    \"wordDeletionCount2\": 0,\r\n    \"wordInsertionCount2\": 0,\r\n    \"sentenceErrorRate1\": 0.375,\r\n    \"sentenceCount1\": 8,\r\n    \"wordCount1\": 46,\r\n    \"correctWordCount1\": 43,\r\n    \"wordSubstitutionCount1\": 3,\r\n    \"wordDeletionCount1\": 0,\r\n    \"wordInsertionCount1\": 0\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Evalution of one model against another model\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of evaluations for the authenticated subscription.",
        "operationId": "GetEvaluations",
        "summary": "Get Evaluations",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of evaluations that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of evaluations that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedEvaluations"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/a55a327b-c866-40b3-a08d-9c0945738633\",\r\n      \"model1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n      },\r\n      \"model2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"dataset\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\"\r\n      },\r\n      \"transcription2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/ad86d0c9-af6d-4d14-a621-c60d7d65b74f\"\r\n      },\r\n      \"transcription1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\"\r\n      },\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/00000000-0000-0000-0000-000000000000/files\"\r\n      },\r\n      \"properties\": {\r\n        \"wordErrorRate2\": 0.065,\r\n        \"wordErrorRate1\": 0.065,\r\n        \"sentenceErrorRate2\": 0.375,\r\n        \"sentenceCount2\": 8,\r\n        \"wordCount2\": 46,\r\n        \"correctWordCount2\": 43,\r\n        \"wordSubstitutionCount2\": 3,\r\n        \"wordDeletionCount2\": 0,\r\n        \"wordInsertionCount2\": 0,\r\n        \"sentenceErrorRate1\": 0.375,\r\n        \"sentenceCount1\": 8,\r\n        \"wordCount1\": 46,\r\n        \"correctWordCount1\": 43,\r\n        \"wordSubstitutionCount1\": 3,\r\n        \"wordDeletionCount1\": 0,\r\n        \"wordInsertionCount1\": 0\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Evalution of one model against another model\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/daaa45a7-38f0-4918-87d2-bf55fec32ac5\",\r\n      \"model1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n      },\r\n      \"model2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"dataset\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\"\r\n      },\r\n      \"transcription2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/ad86d0c9-af6d-4d14-a621-c60d7d65b74f\"\r\n      },\r\n      \"transcription1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\"\r\n      },\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/00000000-0000-0000-0000-000000000000/files\"\r\n      },\r\n      \"properties\": {\r\n        \"wordErrorRate2\": 0.065,\r\n        \"wordErrorRate1\": 0.065,\r\n        \"sentenceErrorRate2\": 0.375,\r\n        \"sentenceCount2\": 8,\r\n        \"wordCount2\": 46,\r\n        \"correctWordCount2\": 43,\r\n        \"wordSubstitutionCount2\": 3,\r\n        \"wordDeletionCount2\": 0,\r\n        \"wordInsertionCount2\": 0,\r\n        \"sentenceErrorRate1\": 0.375,\r\n        \"sentenceCount1\": 8,\r\n        \"wordCount1\": 46,\r\n        \"correctWordCount1\": 43,\r\n        \"wordSubstitutionCount1\": 3,\r\n        \"wordDeletionCount1\": 0,\r\n        \"wordInsertionCount1\": 0\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Evalution of one model against another model\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/bfb375ef-5e20-4f71-8e0c-00fa21ba6477\",\r\n      \"model1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n      },\r\n      \"model2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"dataset\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\"\r\n      },\r\n      \"transcription2\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/ad86d0c9-af6d-4d14-a621-c60d7d65b74f\"\r\n      },\r\n      \"transcription1\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\"\r\n      },\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations/00000000-0000-0000-0000-000000000000/files\"\r\n      },\r\n      \"properties\": {\r\n        \"wordErrorRate2\": 0.065,\r\n        \"wordErrorRate1\": 0.065,\r\n        \"sentenceErrorRate2\": 0.375,\r\n        \"sentenceCount2\": 8,\r\n        \"wordCount2\": 46,\r\n        \"correctWordCount2\": 43,\r\n        \"wordSubstitutionCount2\": 3,\r\n        \"wordDeletionCount2\": 0,\r\n        \"wordInsertionCount2\": 0,\r\n        \"sentenceErrorRate1\": 0.375,\r\n        \"sentenceCount1\": 8,\r\n        \"wordCount1\": 46,\r\n        \"correctWordCount1\": 43,\r\n        \"wordSubstitutionCount1\": 3,\r\n        \"wordDeletionCount1\": 0,\r\n        \"wordInsertionCount1\": 0\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Evalution of one model against another model\"\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/evaluations?skip=3&top=3\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/models": {
      "post": {
        "description": "Creates a new model.",
        "operationId": "CreateModel",
        "summary": "Create Model",
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Model"
            },
            "description": "The details of the new model."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Model"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n  \"baseModel\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n  },\r\n  \"datasets\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/cdc91c24-3972-496d-a12f-209c35f4cc6c\"\r\n    }\r\n  ],\r\n  \"links\": {\r\n    \"manifest\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/manifest/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n    \"copyTo\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037/copy\"\r\n  },\r\n  \"properties\": {\r\n    \"deprecationDates\": {\r\n      \"adaptationDateTime\": \"2022-11-04T00:00:00Z\",\r\n      \"transcriptionDateTime\": \"2023-05-04T00:00:00Z\"\r\n    }\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Running\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Language model\",\r\n  \"description\": \"This is a language model\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of custom models for the authenticated subscription.",
        "operationId": "GetModels",
        "summary": "Get Custom Models",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of models that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of models that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedModels"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n      \"baseModel\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n      },\r\n      \"datasets\": [\r\n        {\r\n          \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/cdc91c24-3972-496d-a12f-209c35f4cc6c\"\r\n        }\r\n      ],\r\n      \"links\": {\r\n        \"manifest\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/manifest/021a72d0-54c4-43d3-8254-27336ead9037\",\r\n        \"copyTo\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037/copy\"\r\n      },\r\n      \"properties\": {\r\n        \"deprecationDates\": {\r\n          \"adaptationDateTime\": \"2022-11-04T00:00:00Z\",\r\n          \"transcriptionDateTime\": \"2023-05-04T00:00:00Z\"\r\n        }\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Running\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Language model\",\r\n      \"description\": \"This is a language model\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/a04e77e6-2009-462c-8d1c-65d718ee4b7b\",\r\n      \"baseModel\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/base/8a043172-65b7-4cf3-a8b5-4449efa5a0f1\"\r\n      },\r\n      \"datasets\": [\r\n        {\r\n          \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/datasets/ca588c0f-7637-47db-a137-dd4223a42d93\"\r\n        }\r\n      ],\r\n      \"links\": {\r\n        \"manifest\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/manifest/a04e77e6-2009-462c-8d1c-65d718ee4b7b\",\r\n        \"copyTo\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/a04e77e6-2009-462c-8d1c-65d718ee4b7b/copy\"\r\n      },\r\n      \"properties\": {\r\n        \"deprecationDates\": {\r\n          \"adaptationDateTime\": \"2022-11-04T00:00:00Z\",\r\n          \"transcriptionDateTime\": \"2023-05-04T00:00:00Z\"\r\n        }\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Running\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Acoustic model\",\r\n      \"description\": \"Example for an acoustic model\"\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models?skip=2&top=2\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/projects": {
      "post": {
        "description": "Creates a new project.",
        "operationId": "CreateProject",
        "summary": "Create Project",
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Project"
            },
            "description": "The details of the project."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Project"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0\",\r\n  \"links\": {\r\n    \"evaluations\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/evaluations\",\r\n    \"datasets\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/datasets\",\r\n    \"models\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/models\",\r\n    \"endpoints\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/endpoints\",\r\n    \"transcriptions\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/transcriptions\"\r\n  },\r\n  \"properties\": {\r\n    \"datasetCount\": 23,\r\n    \"evaluationCount\": 42,\r\n    \"modelCount\": 2,\r\n    \"transcriptionCount\": 1994,\r\n    \"endpointCount\": 12\r\n  },\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"My speech project\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of projects for the authenticated subscription.",
        "operationId": "GetProjects",
        "summary": "Get Projects",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of projects that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of projects that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedProjects"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0\",\r\n      \"links\": {\r\n        \"evaluations\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/evaluations\",\r\n        \"datasets\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/datasets\",\r\n        \"models\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/models\",\r\n        \"endpoints\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/endpoints\",\r\n        \"transcriptions\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/transcriptions\"\r\n      },\r\n      \"properties\": {\r\n        \"datasetCount\": 23,\r\n        \"evaluationCount\": 42,\r\n        \"modelCount\": 2,\r\n        \"transcriptionCount\": 1994,\r\n        \"endpointCount\": 12\r\n      },\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"My speech project\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0\",\r\n      \"links\": {\r\n        \"evaluations\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/evaluations\",\r\n        \"datasets\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/datasets\",\r\n        \"models\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/models\",\r\n        \"endpoints\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/endpoints\",\r\n        \"transcriptions\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/transcriptions\"\r\n      },\r\n      \"properties\": {\r\n        \"datasetCount\": 23,\r\n        \"evaluationCount\": 42,\r\n        \"modelCount\": 2,\r\n        \"transcriptionCount\": 1994,\r\n        \"endpointCount\": 12\r\n      },\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"My speech project\"\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0\",\r\n      \"links\": {\r\n        \"evaluations\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/evaluations\",\r\n        \"datasets\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/datasets\",\r\n        \"models\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/models\",\r\n        \"endpoints\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/endpoints\",\r\n        \"transcriptions\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/projects/abc46f33-90b8-443d-adad-4870517356e0/transcriptions\"\r\n      },\r\n      \"properties\": {\r\n        \"datasetCount\": 23,\r\n        \"evaluationCount\": 42,\r\n        \"modelCount\": 2,\r\n        \"transcriptionCount\": 1994,\r\n        \"endpointCount\": 12\r\n      },\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"My speech project\"\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0-beta1/accuracytests?skip=3&top=3\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/transcriptions": {
      "post": {
        "description": "Creates a new transcription.",
        "operationId": "CreateTranscription",
        "summary": "Create Transcription",
        "parameters": [
          {
            "name": "transcription",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Transcription"
            },
            "description": "The details of the new transcription."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/Transcription"
            },
            "examples": {
              "application/json": "{\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\",\r\n  \"contentUrls\": [\r\n    \"https://contoso.com/\",\r\n    \"https://contoso2.com/\"\r\n  ],\r\n  \"model\": {\r\n    \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n  },\r\n  \"links\": {\r\n    \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\"\r\n  },\r\n  \"properties\": {\r\n    \"diarizationEnabled\": false,\r\n    \"wordLevelTimestampsEnabled\": false,\r\n    \"channels\": [\r\n      0,\r\n      1\r\n    ],\r\n    \"punctuationMode\": \"DictatedAndAutomatic\",\r\n    \"profanityFilterMode\": \"Masked\",\r\n    \"duration\": \"PT42S\"\r\n  },\r\n  \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n  \"status\": \"Succeeded\",\r\n  \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n  \"locale\": \"en-US\",\r\n  \"displayName\": \"Transcription using adapted model en-US\",\r\n  \"customProperties\": {\r\n    \"key\": \"value\"\r\n  }\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets a list of transcriptions for the authenticated subscription.",
        "operationId": "GetTranscriptions",
        "summary": "Get Transcriptions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of transcriptions that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of transcriptions that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedTranscriptions"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91\",\r\n      \"contentUrls\": [\r\n        \"https://contoso.com/\",\r\n        \"https://contoso2.com/\"\r\n      ],\r\n      \"model\": {\r\n        \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/models/021a72d0-54c4-43d3-8254-27336ead9037\"\r\n      },\r\n      \"links\": {\r\n        \"files\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions/9c142230-a9e4-4dbb-8cc7-70ca43d5cc91/files\"\r\n      },\r\n      \"properties\": {\r\n        \"diarizationEnabled\": false,\r\n        \"wordLevelTimestampsEnabled\": false,\r\n        \"channels\": [\r\n          0,\r\n          1\r\n        ],\r\n        \"punctuationMode\": \"DictatedAndAutomatic\",\r\n        \"profanityFilterMode\": \"Masked\",\r\n        \"duration\": \"PT42S\"\r\n      },\r\n      \"lastActionDateTime\": \"2019-01-07T11:36:07Z\",\r\n      \"status\": \"Succeeded\",\r\n      \"createdDateTime\": \"2019-01-07T11:34:12Z\",\r\n      \"locale\": \"en-US\",\r\n      \"displayName\": \"Transcription using adapted model en-US\",\r\n      \"customProperties\": {\r\n        \"key\": \"value\"\r\n      }\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions?skip=100&top=100\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "description": "If the property secret in the configuration is present and contains a non-empty string, it will be used to create a SHA256 hash of the payload with\r\nthe secret as HMAC key. This hash will be set as X-MicrosoftSpeechServices-Signature header when calling back into the registered URL.\r\n            \r\nWhen calling back into the registered URL, the request will contain a X-MicrosoftSpeechServices-Event header containing one of the registered event\r\ntypes. There will be one request per registered event type.\r\n            \r\nAfter successfully registering the web hook, it will not be usable until a challenge/response is completed. To do this, a request with the event type\r\nchallenge will be made with a query parameter called validationToken. Respond to the challenge with a 200 OK containing the value of the validationToken\r\nquery parameter as the response body. When the challenge/response is successfully completed, the web hook will begin receiving events.",
        "operationId": "CreateHook",
        "summary": "Create Web Hook",
        "parameters": [
          {
            "name": "webHook",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/WebHook"
            },
            "description": "The details of the new web hook."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "The response contains the location of the entity as header.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location of the created resource."
              }
            },
            "schema": {
              "$ref": "#/definitions/WebHook"
            },
            "examples": {
              "application/json": "{\r\n  \"displayName\": \"TranscriptionCompletionWebHook\",\r\n  \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d\",\r\n  \"links\": {\r\n    \"ping\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v2.1/hooks/2e856efe-ef53-465a-a632-6a084c1d349d/test\",\r\n    \"test\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v2.1/hooks/2e856efe-ef53-465a-a632-6a084c1d349d/ping\"\r\n  },\r\n  \"properties\": {\r\n    \"apiVersion\": \"v3.0\"\r\n  },\r\n  \"webUrl\": \"https://contoso.com/call/me/back\",\r\n  \"events\": {\r\n    \"transcriptionCompletion\": true\r\n  },\r\n  \"description\": \"I registered this URL to get a POST request for each completed transcription.\",\r\n  \"createdDateTime\": \"2018-11-11T00:00:00Z\",\r\n  \"lastActionDateTime\": \"2018-11-28T00:00:00Z\",\r\n  \"status\": \"NotStarted\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of web hook registrations for the authenticated subscription.",
        "operationId": "GetHooks",
        "summary": "Get Web Hooks",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Number of hooks that will be skipped.",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of hooks that will be included after skipping.",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait for a non terminal operation to complete."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaginatedWebHooks"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"displayName\": \"TranscriptionCompletionWebHook\",\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/aff13a6e-17c4-4247-862f-70e99469c553\",\r\n      \"links\": {\r\n        \"ping\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/test\",\r\n        \"test\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/ping\"\r\n      },\r\n      \"properties\": {\r\n        \"apiVersion\": \"v3.0\"\r\n      },\r\n      \"webUrl\": \"https://contoso.com/call/me/back\",\r\n      \"events\": {\r\n        \"transcriptionCompletion\": true\r\n      },\r\n      \"description\": \"I registered this URL to get a POST request for each completed transcription.\",\r\n      \"createdDateTime\": \"2018-11-11T00:00:00Z\",\r\n      \"lastActionDateTime\": \"2018-11-28T00:00:00Z\",\r\n      \"status\": \"Succeeded\"\r\n    },\r\n    {\r\n      \"displayName\": \"TranscriptionCompletionWebHook\",\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/9db10a08-189e-4de4-b31a-38b39d993b37\",\r\n      \"links\": {\r\n        \"ping\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/test\",\r\n        \"test\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/ping\"\r\n      },\r\n      \"properties\": {\r\n        \"apiVersion\": \"v3.0\"\r\n      },\r\n      \"webUrl\": \"https://contoso.com/call/me/back\",\r\n      \"events\": {\r\n        \"transcriptionCompletion\": true\r\n      },\r\n      \"description\": \"I registered this URL to get a POST request for each completed transcription.\",\r\n      \"createdDateTime\": \"2018-11-11T00:00:00Z\",\r\n      \"lastActionDateTime\": \"2018-11-28T00:00:00Z\",\r\n      \"status\": \"Succeeded\"\r\n    },\r\n    {\r\n      \"displayName\": \"TranscriptionCompletionWebHook\",\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/034034ec-2872-43e0-b1e5-f57735e253bf\",\r\n      \"links\": {\r\n        \"ping\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/test\",\r\n        \"test\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks/2e856efe-ef53-465a-a632-6a084c1d349d/ping\"\r\n      },\r\n      \"properties\": {\r\n        \"apiVersion\": \"v3.0\"\r\n      },\r\n      \"webUrl\": \"https://contoso.com/call/me/back\",\r\n      \"events\": {\r\n        \"transcriptionCompletion\": true\r\n      },\r\n      \"description\": \"I registered this URL to get a POST request for each completed transcription.\",\r\n      \"createdDateTime\": \"2018-11-11T00:00:00Z\",\r\n      \"lastActionDateTime\": \"2018-11-28T00:00:00Z\",\r\n      \"status\": \"Succeeded\"\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/webhooks?skip=3&top=3\"\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/endpoints/base/{locale}/files/logs": {
      "delete": {
        "description": "Deletion process is done asynchronously and can take up to one day depending on the amount of log files.",
        "operationId": "DeleteBaseModelLogs",
        "summary": "Delete All Base Model Endpoint Logs",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "The language used to select the default base model.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the audio logs deletion (specific day, UTC).\r\n            Expected format: \"yyyy-mm-dd\". for instance, \"2019-09-20\" results in deleting all logs on September 20h, 2019 and before.\r\n            Deletes all existing logs when date is not specified.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The logs will be deleted."
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"The specified entity cannot be found.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Gets the list of audio and transcription logs that have been stored when using the default base model of a given language.",
        "operationId": "GetBaseModelLogs",
        "summary": "Get Base Model Endpoint Logs",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "The language used to select the default base model.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sasValidityInSeconds",
            "in": "query",
            "description": "Format - int32. The duration in seconds that an SAS url should be valid. The default duration is 12 hours.",
            "type": "integer"
          },
          {
            "name": "skipToken",
            "in": "query",
            "description": "Token to skip logs that were already retrieved in previous requests. Pagination starts from beginning when not defined.",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Format - int32. Number of files that will be included (between 1 and 5000).",
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedFiles"
            },
            "examples": {
              "application/json": "{\r\n  \"values\": [\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/6d72ad7e-f286-4a6f-b81b-a0532ca6bcaa/files/logs/2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.wav\",\r\n      \"name\": \"2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.wav\",\r\n      \"kind\": \"Audio\",\r\n      \"properties\": {\r\n        \"size\": 12345\r\n      },\r\n      \"createdDateTime\": \"2020-01-13T08:00:00Z\",\r\n      \"links\": {\r\n        \"contentUrl\": \"https://customspeech-usw.blob.core.windows.net/artifacts/2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.wav?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=e05d8d56-9675-448b-820c-4318ae64c8d5\"\r\n      }\r\n    },\r\n    {\r\n      \"self\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/6d72ad7e-f286-4a6f-b81b-a0532ca6bcaa/files/logs/2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.json\",\r\n      \"name\": \"2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.json\",\r\n      \"kind\": \"Transcription\",\r\n      \"properties\": {\r\n        \"size\": 12345\r\n      },\r\n      \"createdDateTime\": \"2020-01-13T08:00:00Z\",\r\n      \"links\": {\r\n        \"contentUrl\": \"https://customspeech-usw.blob.core.windows.net/artifacts/2019-09-20_080000_3b5f4628-e225-439d-bd27-8804f9eed13f.json?st=2018-02-09T18%3A07%3A00Z&se=2018-02-10T18%3A07%3A00Z&sp=rl&sv=2017-04-17&sr=b&sig=e05d8d56-9675-448b-820c-4318ae64c8d5\"\r\n      }\r\n    }\r\n  ],\r\n  \"@nextLink\": \"https://westus.api.cognitive.microsoft.com/speechtotext/v3.0/endpoints/base/en-us/files/logs?top=2&SkipToken=2!188!MDAwMDk1ITZhMjhiMDllLTg0MDYtNDViMi1hMGRkLWFlNzRlOGRhZWJkNi8yMDIwLTA0LTAxLzEyNDY0M182MzI5NGRkMi1mZGYzLTRhZmEtOTA0NC1mODU5ZTcxOWJiYzYud2F2ITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--\"\r\n}"
            }
          },
          "400": {
            "description": "In case the operation cannot be performed successfully with the specified values.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"InvalidRequest\",\r\n  \"message\": \"The base model isn't valid for this operation.\",\r\n  \"innerError\": {\r\n    \"code\": \"InvalidBaseModel\",\r\n    \"message\": \"The base model isn't valid for this operation.\"\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "In case the user isn't authorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Unauthorized\",\r\n  \"message\": \"Authentication is required to access the resource.\"\r\n}"
            }
          },
          "403": {
            "description": "In case authorized user isn't known or doesn't have the required permissions.",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"Forbidden\",\r\n  \"message\": \"No permission to access this resource.\"\r\n}"
            }
          },
          "404": {
            "description": "In case the specified entity doesn't exist",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"The specified entity cannot be found.\"\r\n}"
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "The minimum number of seconds to wait before not getting this response anymore."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "examples": {
              "application/json": "{\r\n  \"code\": \"TooManyRequests\",\r\n  \"message\": \"The rate limit has been reached. The timeout in seconds can be found in the Retry-After header.\"\r\n}"
            }
          }
        }
      }
    },
    "/endpoints/{id}/files/logs": {
      "delete": {
        "description": "The deletion process is done asynchronously and can take up to one day depending on the amount of log files.",
        "operationId": "DeleteEndpointLogs",
        "summary": "Delete All Custom Model Endpoint Logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Format - uuid. The identifier of the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the audio logs deletion (specific day, UTC).\r\n            Expected format: \"yyyy-mm-dd\". for instance, \"2019-09-20\" results in deleting all logs on September 20h, 2019 and before.\r\n            Deletes all existing logs when date is not specified.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The logs will be deleted."
          },
          "400": {
[...]
